body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: fit-content;
    max-height: fit-content;
    display: flex;
  }
  
  .signup-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background: url('https://images.unsplash.com/photo-1597696929736-6d13bed8e6a8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 20px;
  }

  
  .signup-article {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(12px);
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  width: 340px;
  text-align: center;
  align-self: center;
  transition: transform 0.3s ease-in-out;
}

.signup-article:hover {
  transform: scale(1.02);
}
  
  .signup-article h1 {
    color: #121212;
    font-size: 30px;
    font-family:'Gill Sans', sans-serif;
    margin-bottom: 30px;
  }
  
  .google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
  padding: 12px;
  background-color: #5e4c36;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
  
  
.google-button i {
  font-size: 18px;
}

.google-button:hover {
  background-color: #3a2f1d;
}

.sidebar {
    flex: 1;
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    background: rgba(100, 71, 71, 0.556); 
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.sidebar h2 {
    font-size: 28px;
    font-family: 'Brush Script MT', cursive;
    color: #f5f5f5;
    margin-bottom: 130px;
    font-size: 50px;
}

.sidebar p {
    color: #e0e0e0;
    line-height: 1.5;
    margin-bottom: -50px;
    margin-left: -220px;
}
