/**/
body{
    margin:0;
}
/*
html, body {
    margin: 0;
    height: 100vh;
    width: fit-content;
    overflow: hidden; 
  }
  
  .root {
   outline: 3px solid black;
    height: 50vh;
    width: fit-content;
    background: lightblue;
    margin: auto;
  }
  
*/
.Body{
    
    display:flex;
    flex-wrap:wrap;
   
   height: 120vh;
   flex-direction:row;
    justify-content:flex-start;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-top:0;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    z-index: 9999;
    background-color: #f9f6f1;
  
   
    
    
    
    
    
}
/**/
.Body >section{
    position: relative;
    width:45vw;
    height:120vh;
   
    margin: 0;
    padding-left: 0;
    padding-top:0;
    font-family: "Arial", sans-serif;
  font-size: 1vw;
  


 
  
  
   

}
/**/
.left{
    display:flex;
    flex-direction: column;
   gap:30vh;
    align-items:center;
    padding-top: 30vh;
    background-color: #a88d8d7c;
    border-radius: 5px;
    
      
  


}
.left button{
    padding-bottom:0px;
    width:15vw;
    border-radius:25px;
    height:7vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);    background-color: transparent;



}
.left h1{
    padding-top:0px;
    font-weight: 900;
    font-size: 5vw;
     color: #faf6f0;
}
/**/
.right{
    display:flex;
    flex-direction:column;
    gap:1.5vh;
    padding-left: 4vw;
    padding-top:5vh;
    padding-bottom: 0.5;
    
   

}
/**/
.right form:hover{
    padding-left:5vw;
    height: 40vh;
    box-shadow: 10px 10px #494747;}

.right>form{
    display:flex;
    outline: 1px solid #9c6644;
    border-radius: 40px;
    width:50vw;
    gap:0.4vh;
    margin: 0;
   
    padding-top:0.5vh;
    background-color: #faf6f0;
    position:relative;
  

    

}


.right>form>section{
    position:relative;
    display:flex;
    flex-direction:column;
   gap:2vh;
    justify-content: centre;
   
    width:20vw;
    margin: 0;
    padding-left: 0.5vw;
    padding-top:2vh;
    height:20vh;
  

}

.form2 button:hover:active{
    width:30vh;
    
    height:5vh;
   
    
   
}
 .form1 input{
    width:15vw;
    height:6vh;
    border:None;
    border-bottom:2px solid black;
    background-color: #faf6f0;
    
 }
 .form1 textarea{
    width: 15vw;
    border: 2px solid black;
    background-color: #faf6f0
 }
 .form1 label{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5vw;

    

 }

